*.pyc
*.pyc
*.pyc
gym_tracker/__pycache__/__init__.cpython-313.pyc
gym_tracker/__pycache__/settings.cpython-313.pyc
gym_tracker/__pycache__/urls.cpython-313.pyc
templates/.DS_Store
workouts/.DS_Store
workouts/__pycache__/__init__.cpython-313.pyc
workouts/__pycache__/admin.cpython-313.pyc
workouts/__pycache__/apps.cpython-313.pyc
workouts/__pycache__/models.cpython-313.pyc
workouts/__pycache__/urls.cpython-313.pyc
workouts/__pycache__/views.cpython-313.pyc
workouts/migrations/__pycache__/0001_initial.cpython-313.pyc
workouts/migrations/__pycache__/0002_achievement_bodymeasurement.cpython-313.pyc
workouts/migrations/__pycache__/0003_alter_exercise_unique_together_achievement_user_and_more.cpython-313.pyc
workouts/migrations/__pycache__/__init__.cpython-313.pyc
workouts/templatetags/__pycache__/__init__.cpython-313.pyc
workouts/templatetags/__pycache__/custom_filters.cpython-313.pyc
templates/.DS_Store
.DS_Store
